doctype html
html(lang="en")
    head
        title about
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/about.css")
    body
        .container
            .project_new
                .row
                    .col-md-12
                        .row
                            .col-md-4
                                .item
                                    img(src="images/image-hotlels.png", alt="images")
                                    .header
                                        .header__title.
                                            Hotels
                                        .hrader__content.
                                            Book hotels and earn KirsFlyer miles
                            .col-md-4
                                .item
                                    img(src="images/image-hotlels.png", alt="images")
                                    .header
                                        .header__title.
                                            Hotels
                                        .hrader__content.
                                            Book hotels and earn KirsFlyer miles
                            .col-md-4
                                .item
                                    img(src="images/image-hotlels.png", alt="images")
                                    .header
                                        .header__title.
                                            Hotels
                                        .hrader__content.
                                            Book hotels and earn KirsFlyer miles
                .row
                    .col-md-12
                        .row
                            .col-md-4
                                .item
                                    img(src="images/image-hotlels.png", alt="images")
                                    .header
                                        .header__title.
                                            Hotels
                                        .hrader__content.
                                            Book hotels and earn KirsFlyer miles
                            .col-md-4
                                .item
                                    img(src="images/image-hotlels.png", alt="images")
                                    .header
                                        .header__title.
                                            Hotels
                                        .hrader__content.
                                            Book hotels and earn KirsFlyer miles
                            .col-md-4
                                .item
                                    img(src="images/image-hotlels.png", alt="images")
                                    .header
                                        .header__title.
                                            Hotels
                                        .hrader__content.
                                            Book hotels and earn KirsFlyer miles
                .news
                    .header_new
                        h1.header__new__title.
                            News
                        .read_all
                            a.
                                Read all news
                    .news__content
                        .row
                            .col-md-12
                                .row
                                    .col-md-6
                                        .news_left
                                            .infomation
                                                p.news__date-time.
                                                    29 JUNE 2018
                                                p.description.
                                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias temporibus co
                                    .col-md-6
                                        .new_right
                                            .item_info
                                                p.news__date-time.
                                                    29 JUNE 2018
                                                p.description.
                                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias temporibus co
